<visicutPreferences>
  <defaultMapping>Farbmapping Makerspace Dresden (rot=gravieren, grün=rastergravieren, blau=schneiden)</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>true</useFilenamesForJobs>
  <labName>Makerspace Dresden</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <fabqrPrivateURL></fabqrPrivateURL>
  <fabqrPublicURL></fabqrPublicURL>
  <fabqrPrivateUser></fabqrPrivateUser>
  <fabqrPrivatePassword></fabqrPrivatePassword>
  <windowBounds>
    <x>0</x>
    <y>31</y>
    <width>1143</width>
    <height>733</height>
  </windowBounds>
  <useThicknessAsFocusOffset>true</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/tmp/ink_ext_XXXXXX.svg5RXEBZ.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svg5SZDBZ.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgENAKBZ.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgUNCEBZ.svg</string>
  </recentFiles>
  <lastMaterial>Finnpappe</lastMaterial>
  <lastLaserDevice>Epilog_Zing_Fablab</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <fabLabLocationFacebookId></fabLabLocationFacebookId>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>